version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: wallet_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wallet_db
    ports:
      - "3306:3306"
    volumes:
      - wallet_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: wallet_api
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: wallet_db
      DB_PORT: 3306
    command: sh -c "npm run seed && npm start"

volumes:
  wallet_data:
